pipeline/pl_catsTrigger.json
{
	"name": "pl_catsTrigger",
	"properties": {
		"activities": [
			{
				"name": "Set variable Working",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varWorking",
					"value": {
						"value": "@concat(pipeline().parameters.pFolderPath,'/',pipeline().parameters.pFileName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Json",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varJson",
					"value": {
						"value": "{\n  \"Parameters\": {\n    \"pFolderPath\": \"@{pipeline().parameters.pFolderPath}\",\n    \"pFileName\": \"@{pipeline().parameters.pFileName}\"\n  },\n  \"Variables\": {\n    \"container\": \"@{first(split(pipeline().parameters.pFolderPath, '.'))}\",\n    \"filename\": \"@{first(split(pipeline().parameters.pFileName, '.'))}\",\n    \"extension\": \"@{last(split(pipeline().parameters.pFileName, '.'))}\"\n  },\n  \"FolderPathArray\": [\"a\", \"b\", \"c\"]\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Array",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "arrWorking",
					"value": {
						"value": "@split(pipeline().parameters.pFolderPath, '/' )",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Array 1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable Array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varWorking",
					"value": {
						"value": "@first(variables('arrWorking'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable Json Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable Json",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "varWorking",
					"value": {
						"value": "@json(variables('varJson')).Parameters.pFileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable Json Output",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_myLog]",
					"storedProcedureParameters": {
						"longDesc": {
							"value": {
								"value": "@variables('varJson')",
								"type": "Expression"
							},
							"type": "String"
						},
						"shortDesc": {
							"value": "pl_catsTrigger",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"pFolderPath": {
				"type": "string",
				"defaultValue": "images/cats"
			},
			"pFileName": {
				"type": "string",
				"defaultValue": "cat3.jpg"
			}
		},
		"variables": {
			"varWorking": {
				"type": "String"
			},
			"varJson": {
				"type": "String"
			},
			"arrWorking": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}